#show-place {
  display: none;
}

.place {
  cursor: pointer;
  color: #0088cc;
}

.place:hover {
  text-decoration: underline;
}
test

/*div, body, html  {
    background-image: url(http://placehold.it/350x150);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}*/
